
h1 {
  /*text-align: center;*/
  font-family: Comic Sans MS, Comic Sans;
  margin-left: 42vw;
}
#money {
  margin-left: 45vw;
}
#paper {
  margin-left: 45vw;
  background-color: #DDDDDD;
  font-family: Comic Sans MS;
  font-size-adjust: auto;
  border-width: thin;
  border-color: 1px solid #9C9C9C;
}
button {
  margin-left: 45vw;

}
h2 {
  font-family: Comic Sans MS;
  margin-left: 42vw;
}
