h1 {
  /*text-align: center;*/
  font-family: Comic Sans MS, Comic Sans;
  margin-left: 42vw;
}
#money {
  margin-left: 45vw;
}
#paper {
  margin-left: 47vw;
}
button {
  margin-left: 45vw;

}
h2 {
  font-family: Comic Sans MS;
  margin-left: 42vw;
}
